button {
    font-family: itim;
    border: .2rem solid #000000;
    box-shadow: 0rem .2rem .5rem 0rem #000000;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    background: #ffff;
}

.containerFilter{
    padding-left: 1.8rem;
}

.overButton{
    position: relative;
    right: 1.8rem;
}

.selected{
    background-color: #B2F7EF;
}

button:hover {
    box-shadow: 0rem 0rem 0rem 0rem #000000;
  }