.todoApp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5rem;
}

.section-headers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.search-filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
}

.todoList-container{
    position: relative;
}

.todoList-container .createTodoButton {
    position: absolute;
    right: 0;
}

.todoFilter-container .selected{
    background-color: #B2F7EF;
}

.todoApp-container .gearLoader{
    width: 10rem;
    height: 10rem;
}